$bg: #232323;
$main_bg: #1c1c1c;
$main: #366de7;
$white: #ffffff;
$gray: #949494;
$red: #db4035;
$yellow: #fad000;
$dark_green: #299438;
$light_blue: #14aaf5;
$light_pink: #ff8d85;
$dark_purple: #884dff;
$brick: #ccac93;
$orange: #ff9933;
$teal: #158fad;
$pink: #e05194;
$light_green: #7ecc49;
$blue: #4979fd;
